.appBox {
  width: 200px;
  height: 200px;
  background: darkslategray;
  display: block;
  margin: 0 auto;
}

.appBox2{
  width: 100px;
  height: 100px;
  background: red;
  display: block;
  margin: 0 auto;
}